@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* ----------NAVIGATION BAR---------- */

.header {
  position: fixed;
  font-family: 'Montserrat', sans-serif;
  background-color: #f9b437;
  color: white;
  height: 45px;
  font-size: 14px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo-flex {
  height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-flex > h1 {
  font-size: inherit;
  margin-left: 10px;
}

.search-flex {
  font-size: inherit;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-flex > input {
  margin-left: 10px;
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  min-width: 60%;
  height: 25px;
  padding: 0 10px;
}

.search-flex > #search-toggle {
  margin-left: 10px;
}

.nav-links-flex {
  height: 45px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: inherit;
}

.nav-links-flex > i {
  margin-right: 20px;
}

/* ----------MAIN CONTENT - HOMEPAGE VIEW---------- */

.main {
  font-family: 'Bebas Neue', sans-serif;
  max-width: 1300px;
  margin: 45px auto 55px;
}

.main h1 {
  letter-spacing: 2px;
  font-size: 72px;
  text-align: center;
  margin-top: 20px;
}

.img-content {
  padding: 40px 0 10px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 325px;
  width: 325px;
}

.image-container > img {
  height: 100%;
  width: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  object-fit: cover;
  transform: scale(1);
  transition-duration: 0.5s;
}

.img-content > p {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
}

.center-image {
  display: flex;
  justify-content: center;
}

.local-button-flex {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 30px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.local-button-flex > p {
  width: 100%;
  text-align: center;
}

.local-button-flex > button {
  width: 160px;
  height: 50px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  color: white;
  background-color: #f9b437;
  border: none;
  font-size: 22px;
  letter-spacing: 1px;
}

/* ----------MAIN CONTENT - LOCAL VIEW---------- */

.brewery-card-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.brewery-card {
  width: 565px;
  height: 200px;
  border: 1px solid #f9b437;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.heart-container {
  position: relative;
}

.info-flex {
  display: flex;
  justify-content: center;
  padding: 15px 20px;
  height: 200px;
}

.brewery-info {
  font-family: 'Montserrat', sans-serif;
  width: 255px;
  height: 135px;
}

.brewery-info > h3 {
  font-size: 16px;
  text-decoration: underline;
  margin: 0;
  text-align: center;
}

.brewery-info > ul {
  padding-top: 10px;
  list-style: none;
  padding-left: 5px;
}

.brewery-info li {
  font-size: 12px;
  margin-bottom: 10px;
}

.brewery-card i {
  position: absolute;
  bottom: 10px;
  left: 25px;
  color: #ff4033;
  transform: scale(1);
  transition-duration: 0.2s;
}

.map-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.brewery-map {
  border: 1px solid #f9b437;
  width: 230px;
  height: 170px;
}

.map-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.arrow-container {
  display: flex;
  justify-content: center;
}

.page-arrows {
  display: flex;
  justify-content: space-between;
  color: #f9b437;
  width: 120px;
}

/* ----------POPUP-MODAL---------- */

.pop-up-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(34, 33, 33, 0.9);
  z-index: 10000;
}

.pop-up {
  font-family: 'Ubuntu', sans-serif;
  background-color: whitesmoke;
  width: 500px;
  height: 250px;
  border-radius: 20px;
  border: 2px solid #f9b437;
  text-align: center;
  padding-top: 10px;
  letter-spacing: 3px;
}

.pop-up > h4 {
  font-size: 36px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
}

.button-container > button {
  height: 50px;
  width: 125px;
  color: whitesmoke;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-size: 22px;
}

.cancel-button {
  background-color: #f9b437;
}

.confirm-button {
  background-color: #ff4033;
}

/* ----------SIGN-IN-VIEW---------- */

.sign-in-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: whitesmoke;
  width: 500px;
  height: 600px;
  border-radius: 20px;
  border: 2px solid #f9b437;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0 60px;
}

.sign-in h2 {
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  font-size: 72px;
  margin-top: 15px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.users {
  line-height: 40px;
}

.sign-in label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.sign-in input {
  width: 150px;
  height: 25px;
  border-radius: 5px;
  padding: 0 5px;
}

.existing-users-container input {
  border: 1px solid #f9b437;
}

/* .new-users-container input {
  border: 1px solid #000;
} */

.new-username {
  border: 1px solid #000;
}

.new-username-red {
  border: 1px solid red;
}

.new-username-green {
  border: 1px solid green;
}

.sign-in button {
  width: 100px;
  height: 30px;
  background-color: #f9b437;
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  margin-left: 140px;
  margin-top: 20px;
}

.sign-in p {
  text-align: center;
}

.existing-users-container {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 20px 0;
}

.new-users-container {
  border-top: 1px solid black;
  padding: 20px 0;
}

.sign-up-text-container {
  padding: 10px 0;
}

/* ----------FOOTER---------- */

.footer {
  position: fixed;
  background-color: #f9b437;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  height: 45px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.icon-flex {
  width: 70px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.icon-flex > a {
  color: white;
}

/* ----------PSEUDO-CLASSES---------- */

.main h1:hover {
  cursor: default;
}

.search-flex > input:focus {
  outline: none;
  border-radius: 10px;
  border: 1px solid black;
}

.search-flex i {
  cursor: pointer;
}

.search-flex > #search-toggle:hover {
  color: black;
}

.logo-flex > h1:hover {
  cursor: pointer;
  color: black;
}

.nav-links-flex > i:hover {
  cursor: pointer;
  color: #ff4033;
}

.nav-links-flex > p:hover {
  cursor: pointer;
  color: black;
}

.image-container > img:hover {
  transform: scale(1.1);
}

.local-button-flex > button:hover {
  cursor: pointer;
  background-color: rgb(249, 180, 55, 0.8);
}

.icon-flex > a:hover {
  cursor: pointer;
  color: black;
}

.brewery-card i:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.cancel-button:hover {
  cursor: pointer;
  background-color: rgb(249, 180, 55, 0.8);
}

.confirm-button:hover {
  cursor: pointer;
  background-color: rgb(255, 64, 51, 0.8);
}

.page-arrows > i:hover {
  cursor: pointer;
}

.sign-in button:hover {
  cursor: pointer;
  background-color: rgb(249, 180, 55, 0.8);
}

.sign-in input:focus {
  outline: none;
}

/* ----------MEDIA QUERIES---------- */

@media only screen and (max-width: 1000px) {
  .column-half {
    flex-basis: 100%;
  }

  .column-third {
    flex-basis: 100%;
  }

  .main {
    margin: 45px auto 50px;
  }

  .img-content {
    padding: 40px 0 0 0;
  }

  .main h1 {
    padding-top: 15px;
    font-size: 44px;
  }

  .local-button-flex {
    margin-bottom: 45px;
  }

  .height-120 {
    height: 100px;
  }
}

@media only screen and (max-width: 600px) {
  .column-half {
    flex-basis: 100%;
  }

  .column-third {
    flex-basis: 100%;
  }

  .main {
    margin: 45px auto 100px;
  }

  .img-content {
    padding: 40px 0 0 0;
  }

  .main h1 {
    padding-top: 0;
    font-size: 36px;
  }

  .local-button-flex {
    margin-bottom: 0;
  }

  .brewery-card {
    width: 430px;
    height: 200px;
  }

  .brewery-map {
    width: 100px;
    height: 100px;
  }

  .mobile-view-local {
    height: 90px;
  }

  .border-bottom {
    margin: 0 40px;
  }

  .height-120 {
    height: 75px;
  }

  .border-top {
    margin: 0 40px;
  }
}
